* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

:root {
    width: 100%;
    height: 100%;
    --album-theme-colour: #353835;
    --panel: oklch(from var(--album-theme-colour) 25% c calc(h + 30));
    --primary: white;
    --secondary: #aaa;
    --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-family: var(--font);
    background: #333;
}

main.player {
    width: 40vmin;
    height: 80vmin;
    display: grid;
    place-items: center;
    grid-template:
        "top-controls" 3rem
        "album-art" 1fr
        "track-info" 6rem
        "progressbar" 3rem
        "media-controls" 10rem
        "tabs" 5rem;
    background: var(--panel);
    color: var(--primary);
}

.player > div {
    width: 100%;
    height: 100%;
}

button.icon {
    background: none;

    & img {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.top-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "minimise b settings";
    place-items: center;
    padding-top: 1rem;
}

.top-controls > .top-button {
    width: 2rem;
    height: 2rem;
}

.top-controls > .player-close {
    grid-area: minimise;
    place-self: left;
}
.top-controls > .player-settings {
    grid-area: settings;
}

.track-info {
    padding: 1rem 3rem;
    width: 100%;
}

.album-art {
    display: grid;
    place-items: center;
    container-type: size;
    padding: 0rem 1.5rem;
    & img {
        box-shadow: rgba(0, 0, 0, 15%) 0 0 1rem 0;
    }
}

.album-art > img.album-cover {
    border-radius: 0.5rem;
}

img.album-cover {
    aspect-ratio: 1;
}

@container (aspect-ratio) {
    img.album-cover {
        height: 100cqmin;
        width: 100cqmin;
    }
}

div.progressbar {
    width: calc(100% - 3rem);
    /* height: 2px; */
    display: grid;
    place-items: center;
}

div.progressbar > .bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 2px;
    width: 100%;
    background: var(--secondary);
}

div.progressbar > .bar > .playerhead {
    position: relative;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    top: -0.5rem;
    left: -0.5rem;
    background: var(--primary);
}

div.media-controls {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.media-controls > .media-button {
    height: 3rem;
    width: 3rem;
    margin: 0.25rem;
}

div.media-controls > .media-button.pause {
    height: 4rem;
    width: 4rem;
    background: var(--primary);
    border-radius: 100%;

    & img {
        filter: invert();
        padding: 0.5rem;
    }
}

.tabs {
    display: grid;
    grid-template-rows: 5rem 1fr;
}

.tabs-headings {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding-bottom: 1rem;
    color: var(--secondary);
    font-weight: 600;
}

.tabs-headings .tab-name {
    text-align: center;
    width: 100%;
}
