* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
button {
    color: inherit;
    font: inherit;
}

:root {
    width: 100%;
    height: 100%;
    --album-theme-colour: #353835;
    --panel: oklch(from var(--album-theme-colour) 25% c calc(h + 30));
    --panel-highlight: oklch(
        from var(--album-theme-colour) 35% calc(c + 0.02) calc(h + 30)
    );
    --primary: white;
    --panel-hover: rgb(from var(--primary) r g b / 25%);
    --secondary: #aaa;
    --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    --view-transition-duration: 0.3s;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-family: var(--font);
    background: #333;
}

.corner-container {
    position: fixed;
    top: 0;
    right: 0;
}

.corner-container > .corner-toggle {
    width: 4rem;
    height: 2rem;
    margin: 1rem;
}

@media screen and (max-width: 700px) {
    .corner-container {
        display: none;
    }
}

.player {
    width: 100%;
    max-width: 520px;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template:
        "top-controls" 3rem
        "album-art" 1fr
        "track-info" 6rem
        "progressbar" 3rem
        "media-controls" 10rem
        "tabs" 3rem;
    background: var(--panel);
    color: var(--primary);
}

.player > div {
    width: 100%;
    height: 100%;
}

.icon-button {
    background: none;

    & img {
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.top-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "minimise b settings";
    place-items: center;
    padding-top: 1rem;
}

.top-controls > .top-button {
    width: 2rem;
    height: 2rem;
}

.top-controls > .player-close {
    grid-area: minimise;
    place-self: left;
}
.top-controls > .player-settings {
    grid-area: settings;
}

.track-info {
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-info > .track-title {
    font-size: 2rem;
    width: 10ch;
}

.album-art {
    display: grid;
    place-items: center;
    container-type: size;
    padding: 0rem 1.5rem;
    & img {
        box-shadow: rgba(0, 0, 0, 15%) 0 0 1rem 0;
    }
}

.album-art > .album-cover {
    border-radius: 0.5rem;
}

.album-cover {
    aspect-ratio: 1;
}

@container (aspect-ratio) {
    img.album-cover {
        height: 100cqmin;
        width: 100cqmin;
    }
}

.player > .progressbar {
    width: calc(100% - 3rem);
    /* height: 2px; */
    display: grid;
    place-items: center;
}

.player > .progressbar > .bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 2px;
    width: 100%;
    background: var(--secondary);
}

.progressbar > .bar > .playerhead {
    position: relative;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    top: calc(-0.5rem + 1px);
    left: -0.5rem;
    background: var(--primary);
}

.media-controls {
    width: 100%;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.media-controls > .media-button {
    height: 3rem;
    width: 3rem;
    margin: 0.25rem;
}

.media-controls > .media-button.pause {
    height: 4rem;
    width: 4rem;
    background: var(--primary);
    border-radius: 100%;

    & img {
        filter: invert();
        padding: 0.5rem;
    }
}

.tabs {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    grid-area: tabs;
    color: var(--secondary);
    font-weight: 600;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1rem;
}

.tabs .tab-name {
    text-align: center;
    width: 100%;
    height: 2rem;
    box-sizing: content-box;
    padding: calc(0.5rem - 1px) 0;
    line-height: 2rem;
    vertical-align: middle;
    background: none;
    transition: background-color 0.1s ease;
}

.tabs .tab-name:hover,
.tabs .tab-name:active {
    background: var(--panel-hover);
}

.player > .tab-content {
    display: none;
}

.player.player-tabopen {
    grid-template:
        "album-art track-info media-controls" 5rem
        "tabs tabs tabs" 3rem
        "tab-content tab-content tab-content" 1fr / 6rem 1fr 5rem;
}

.player.player-tabopen > .top-controls,
.player.player-tabopen > .progressbar {
    display: none;
}

.player.player-tabopen > .media-controls {
    padding: 0;
}

.player.player-tabopen > .media-controls > .media-button {
    display: none;
}

.player.player-tabopen > .media-controls > .media-button.pause {
    display: block;
    height: 2rem;
    width: 2rem;

    & > img {
        padding: 0.25rem;
    }
}

.player.player-tabopen > .album-art {
    padding: 1rem;

    & img {
        box-shadow: rgba(0, 0, 0, 25%) 0 0 0.25rem 0;
    }
}

.player.player-tabopen > .track-info {
    padding: 1rem 0;

    & > .track-title {
        font-size: 1.2rem;
    }

    & > .track-artist {
        font-size: 0.8rem;
    }
}

.player.player-tabopen .tabs {
    border-bottom: 1px solid var(--secondary);
    margin-bottom: 0;
}

.player.player-tabopen .tab-name {
    border-bottom: 2px solid transparent;
}

.player .tab-content {
    display: none;
}

.player.player-tabopen .tab-content {
    grid-area: tab-content;
    display: block;
}

.player .tab-content-item {
    display: none;
}

.player.player-upnextopen .tab-name.tab-up-next {
    border-color: var(--primary);
}

.player.player-lyricsopen .tab-name.tab-lyrics {
    border-color: var(--primary);
    color: var(--primary);
}

.player.player-creditsopen .tab-name.tab-credits {
    border-color: var(--primary);
}

.player.player-upnextopen > .tab-content > .up-next-container {
    display: flex;
}

.player.player-lyricsopen > .tab-content > .lyrics-container {
    display: flex;
}

.player.player-creditsopen > .tab-content > .credits-container {
    display: flex;
}

.player .tab-content-item {
    width: 100%;
    height: 100%;
}

.player .up-next-container {
    padding: 2rem 0;
}

.up-next-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.up-next-track {
    display: grid;
    grid-template: ". art info handle ." 1fr / 1rem 3rem 1fr 3rem 1rem;
    place-items: center;
    gap: 1rem;
    height: 4rem;
}

.up-next-track.highlighted {
    background: var(--panel-highlight);
}

.up-next-track .album-cover {
    grid-area: art;
    width: 3rem;
    height: 3rem;
    background-color: teal;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 25%) 0 0 0.25rem 0;
}

.up-next-track-info {
    width: 100%;
    grid-area: info;
}

.up-next-track .handle {
    grid-area: handle;
    width: 2rem;
    height: 2rem;
}

.player .lyrics-container {
    flex-direction: column;
    padding: 2rem;
    color: var(--secondary);
}

.player .credits-container {
    padding: 2rem;
}

.player .lyrics-container > span {
    line-height: 2.5rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.player .lyrics-container > span.highlighted {
    color: var(--primary);
}

/* view transitions stuff */

.top-controls {
    view-transition-name: top-controls;
}

.album-art .album-cover {
    view-transition-name: album-cover;
}

.track-info > .track-title {
    view-transition-name: track-title;
}

.track-info > .track-artist {
    view-transition-name: track-artist;
}

.progressbar {
    view-transition-name: progressbar;
}

.media-controls > .prev-track {
    view-transition-name: media-controls-prev-track;
}
.media-controls > .rewind {
    view-transition-name: media-controls-rewind;
}
.media-controls > .fastforward {
    view-transition-name: media-controls-fastforward;
}
.media-controls > .next-track {
    view-transition-name: media-controls-next-track;
}

.media-controls > .pause {
    view-transition-name: pause-button;
}

.tabs {
    view-transition-name: tabs;
}

.tab-name.tab-up-next {
    view-transition-name: tab-up-next;
}
.tab-name.tab-lyrics {
    view-transition-name: tab-lyrics;
}
.tab-name.tab-credits {
    view-transition-name: tab-credits;
}

.tab-content {
    view-transition-name: tab-content;
}

.tab-content.scroll-left > .tab-content-item {
    view-transition-name: tab-content-item-scroll-left;
}

.tab-content.scroll-right > .tab-content-item {
    view-transition-name: tab-content-item-scroll-right;
}

::view-transition-old(*),
::view-transition-new(*),
::view-transition-group(*) {
    animation-duration: var(--view-transition-duration);
    animation-timing-function: linear;
}

::view-transition-old(top-controls),
::view-transition-old(progressbar),
::view-transition-old(media-controls-prev-track),
::view-transition-old(media-controls-rewind),
::view-transition-old(media-controls-fastforward),
::view-transition-old(media-controls-next-track) {
    animation-name: fade-out;
    animation-duration: calc(0.25 * var(--view-transition-duration));
}

::view-transition-new(top-controls),
::view-transition-new(progressbar) {
    animation-name: fade-in;
    animation-duration: calc(0.25 * var(--view-transition-duration));
    animation-delay: calc(0.75 * var(--view-transition-duration));
}

::view-transition-old(media-controls-prev-track),
::view-transition-old(media-controls-rewind),
::view-transition-old(media-controls-fastforward),
::view-transition-old(media-controls-next-track) {
    animation-name: fade-out;
    animation-duration: calc(0.1 * var(--view-transition-duration));
}

::view-transition-new(media-controls-prev-track),
::view-transition-new(media-controls-rewind),
::view-transition-new(media-controls-fastforward),
::view-transition-new(media-controls-next-track) {
    animation-name: fade-in;
    animation-duration: calc(0.1 * var(--view-transition-duration));
    animation-delay: calc(0.9 * var(--view-transition-duration));
}

::view-transition-old(tab-content):only-child,
::view-transition-old(tab-content-item-scroll-left):only-child,
::view-transition-old(tab-content-item-scroll-right):only-child {
    animation-name: move-out-down;
}

::view-transition-new(tab-content):only-child,
::view-transition-new(tab-content-item-scroll-left):only-child,
::view-transition-new(tab-content-item-scroll-right):only-child {
    animation-name: move-in-up;
}

::view-transition-old(tab-content-item-scroll-left):not(:only-child) {
    animation-name: move-out-right;
}

::view-transition-new(tab-content-item-scroll-left):not(:only-child) {
    animation-name: move-in-left;
}

::view-transition-old(tab-content-item-scroll-right):not(:only-child) {
    animation-name: move-out-left;
}

::view-transition-new(tab-content-item-scroll-right):not(:only-child) {
    animation-name: move-in-right;
}

@keyframes move-in-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes move-out-down {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes move-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes move-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes move-out-left {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes move-out-right {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-onscreen {
    from {
        transform: translateY(-60cqh);
    }

    to {
        transform: translateY(0%);
    }
}
@keyframes slide-offscreen {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-60cqh);
    }
}
